@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0d0d0d;
  background-color: #eff0f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.65rem;
  --background: #eff0f3;
  --foreground: #0d0d0d;
  --card: #fffffe;
  --card-foreground: #0d0d0d;
  --popover: #fffffe;
  --popover-foreground: #0d0d0d;
  --primary: #ff8e3c;
  --primary-foreground: #fffffe;
  --secondary: #fffffe;
  --secondary-foreground: #2a2a2a;
  --muted: #fffffe;
  --muted-foreground: #2a2a2a;
  --accent: #e53170;
  --accent-foreground: #fffffe;
  --destructive: #e53170;
  --border: #d7dae2;
  --input: #d7dae2;
  --ring: #ff8e3c;
  --chart-1: #ff8e3c;
  --chart-2: #e53170;
  --chart-3: #0d0d0d;
  --chart-4: #2a2a2a;
  --chart-5: #fffffe;
  --sidebar: #fffffe;
  --sidebar-foreground: #0d0d0d;
  --sidebar-primary: #ff8e3c;
  --sidebar-primary-foreground: #fffffe;
  --sidebar-accent: #e53170;
  --sidebar-accent-foreground: #fffffe;
  --sidebar-border: #d7dae2;
  --sidebar-ring: #ff8e3c;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  color-scheme: dark;
  color: #fffffe;
  background-color: #0f0e17;
  --background: #0f0e17;
  --foreground: #fffffe;
  --card: #0f0e17;
  --card-foreground: #fffffe;
  --popover: #0f0e17;
  --popover-foreground: #fffffe;
  --primary: #ff8906;
  --primary-foreground: #fffffe;
  --secondary: #f25f4c;
  --secondary-foreground: #fffffe;
  --muted: #16141f;
  --muted-foreground: #a7a9be;
  --accent: #e53170;
  --accent-foreground: #fffffe;
  --destructive: #f25f4c;
  --border: #2b2738;
  --input: #2b2738;
  --ring: #ff8906;
  --chart-1: #ff8906;
  --chart-2: #f25f4c;
  --chart-3: #e53170;
  --chart-4: #a7a9be;
  --chart-5: #fffffe;
  --sidebar: #0f0e17;
  --sidebar-foreground: #fffffe;
  --sidebar-primary: #ff8906;
  --sidebar-primary-foreground: #fffffe;
  --sidebar-accent: #e53170;
  --sidebar-accent-foreground: #fffffe;
  --sidebar-border: #2b2738;
  --sidebar-ring: #ff8906;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1aa; /* zinc-400 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a; /* zinc-500 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}